#main {
  padding-top: 30px;
}

html, body {
    height: 100%;
}

.sidebar {
    margin-top: 45px;
    height: 100%;
    width: 15%;
    background-color: rgb(9, 5, 181);
    color: #FFF;
    padding-right: 0;
    padding-left:0px;
    float: left;
    position: static;
}

.sidebar ul {
    width: inherit;
    list-style: none;
}

.sidebar li {
    width: 100%;
    list-style: none;
    height: 75px;
}

.sidebar li:hover {
    background-color: #0905b5;
    color: #000;
}

.sidebar li a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: block;
    height: 100%;
    padding-top: 27px;
    color: #d5d7d8;
}

.sidebar li a.selected {
    background-color: #07044e;
}
.sidebar ul {
    width: 100%;
    padding: 0;
}

.sidebar li span i {
    font-size: 25px;
    padding-left: 15px;
}

.top-nav {
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    height: 45px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #07044e;
}

.top-nav li {
    float: left;
    font-size: 25px;
}

.top-nav li a{
    color: #FFF;
}

.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav .title {
    width: 35%;
    font-size: 40px;
}

.top-nav .add-device {
  width: 10%;
    font-size: 20px;
}

.top-nav .edit-device {
  width: 15%;
    font-size: 20px;
}

.top-nav .remove-device {
  width: 20%;
    font-size: 20px;
}

.top-nav .login {
    width: 15%;
    font-size: 20px;
}

.top-nav .creat-user{
    width: 15%;
    font-size: 20px;
}



